.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  background-color: white;
}
.loading .loadingItem {
  width: 200px;
  height: 200px;
  z-index: 1;
}
.loading .logoLoading {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.bgHide {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #logo {
  display: inline-block;
  height: 40px;
}
header form {
  border-radius: 50px;
  overflow: hidden;
  width: 60%;
}
header form input {
  border: none;
  padding: 5px 20px;
  outline: none;
  border-radius: 50px;
  width: 100%;
  box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.1);
  caret-color: orange;
}
header .logIn .logInBtn {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #4A4E69;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
}
header .profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

section {
  display: flex;
}
section aside {
  transition: 0.5s;
  position: fixed;
  padding: 20px 0;
  z-index: 990;
  left: 0;
  width: 300px;
  height: 100%;
  max-height: 200vh;
  background-color: white;
}
section aside.hide {
  left: -260px;
}
section aside.hide .bgHide {
  display: block;
}
section aside.hide .arrowBtn i {
  transform: rotate(180deg);
}
section aside.hide li {
  justify-content: space-between;
}
section aside.hide li .minImg {
  order: 2;
  margin: 5px 5px;
}
section aside.hide li span {
  order: 1;
}
section aside ul {
  overflow: auto;
  height: 100vh;
  margin: 0;
  padding: 0 0 20px 0;
}
section aside ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}
section aside ul li {
  cursor: pointer;
  width: 100%;
  list-style-type: none !important;
  padding: 5px 0;
  font-size: 18px;
  margin: 0;
}
section aside ul li .minImg {
  margin: 5px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  object-fit: cover;
}
section aside ul li span {
  margin-left: 20px;
}
section aside ul li:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #cac3c3;
}
section aside .aside-control {
  position: relative;
  z-index: 9;
  width: 100% !important;
}
section aside .aside-control .arrowBtn {
  position: absolute;
  top: 0;
  right: -50px;
  margin: 10px;
  z-index: 100;
  font-size: 20px;
  background-color: #4A4E69;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 0 50% 50% 0;
}
section aside .aside-control .arrowBtn i {
  color: white;
  transition: all 0.3s ease-in-out;
}
section main {
  max-width: 1550px;
  width: 100%;
}
section main .gallery {
  column-count: 5;
  margin: 0 auto;
  padding: 30px 50px;
}
section main .gallery .img-box {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
section main .gallery .img-box:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
section main .gallery .img-box:hover span {
  opacity: 1;
}
section main .gallery .img-box:hover img {
  filter: blur(2px);
}
section main .gallery .img-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.5s;
}
section main .gallery .img-box span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
section main .gallery .img-box span div {
  font-size: 17px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
section main .gallery .img-box span .download {
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
section main .gallery .img-box span .comment {
  left: 10px;
  bottom: 10px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  color: white;
}
section main .gallery .img-box span .comment i {
  color: red;
  font-size: 32px;
  margin-right: 10px;
}
section main .gallery .img-box span .cloud {
  right: 60px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F2E9E4;
  font-size: 20px;
}
section main .gallery .img-box span .nuqta {
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F2E9E4;
  font-size: 20px;
}
section main .gallery .add-img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
section main .gallery .add-img i {
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .gallery {
    column-count: 3;
  }
}
@media screen and (max-width: 640px) {
  .gallery {
    column-count: 2;
  }
}
.bgHideOut {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

#userProfileModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  background-color: white;
  transition: 0.3s linear;
  z-index: 1200;
}
#userProfileModal.hideProfile {
  right: -300px !important;
}
#userProfileModal #profile {
  border-bottom: 2px solid rgba(128, 128, 128, 0.158);
}
#userProfileModal button {
  box-shadow: none !important;
}
#userProfileModal button i {
  font-size: 20px;
}
#userProfileModal .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#userProfileModal .avatar button {
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0be881;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}
#userProfileModal .avatar button:hover {
  color: white;
}
#userProfileModal .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  object-fit: cover;
  border: 5px solid white;
}
#userProfileModal .info input {
  text-align: center;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  outline: none;
}
#userProfileModal .info .userName {
  color: #4A4E69;
  font-weight: bold;
}
#userProfileModal .info div {
  display: flex;
  align-items: center;
  justify-content: start;
}
#userProfileModal .info button {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 10px;
  color: white;
}
#userProfileModal .info button i {
  font-size: 20px !important;
}
#userProfileModal .info .btn1 {
  background-color: #ff3838;
}
#userProfileModal .info .btn2 {
  background-color: #00a8ff;
}
#userProfileModal .info .btn3 {
  background-color: #fff200;
}

body .search-form ion-icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  color: gray;
  font-size: 20px;
}
body .gallery .item {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
  transition: 0.3s ease box-shadow;
}
body .gallery .item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body .gallery .item:hover img {
  filter: blur(2px);
}
body .gallery .item h3 {
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  transition: 0.5s ease-in-out all;
  font-size: 20px;
  margin: 0;
  opacity: 0;
}
body .gallery .item:hover h3 {
  opacity: 1;
}
body .gallery .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .load-more {
  width: 200px;
  padding: 10px 50px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  margin: 30px auto;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  body form input {
    font-size: 24px;
  }
  body form ion-icon {
    font-size: 24px;
  }
  body .gallery {
    grid-gap: 30px;
  }
}
#signInModal {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #F2E9E4;
}
#signInModal button {
  border: none;
  outline: none;
  margin: 0 15px;
}
#signInModal .saveBtn {
  display: block;
  margin: 10px auto;
  background: #4A4E69;
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 18px;
}
#signInModal form {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
#signInModal form .form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#signInModal form .form-header .logBtn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  background: #F2E9E4;
}
#signInModal form .form-header .logBtn.active {
  background-color: #909090;
  color: #fff;
}
#signInModal form h1 {
  margin: 20px auto;
}
#signInModal form input {
  width: 100%;
  background: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #4A4E69;
}

/*# sourceMappingURL=main.css.map */
